{% extends 'base.html.twig' %}

         {% block body %}          
    <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{asset('assets/images/logoEnergie.png')}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container" text-align:"justify">
              <h2>
                A propos de nous
              </h2>
            </div>
            <p class="justify-text">
              Nous sommes ravis de vous présenter  l’initiative, Équitable Energie, du Centre pour la Communication et le Développement Durable pour Tous (CECOSDA).<br>
              Équitable Énergie est une réponse locale aux problèmes d'énergie au Cameroun. Notre projet vise à faciliter l'accès aux solutions d'énergie fiable et durable pour tous, afin de promouvoir la santé, l'éducation et les activités économiques dans les zones enclavées et les couches vulnérables de la société. <br>
              Équitable Energie s'engage à améliorer la vie des populations en offrant des solutions d'énergie durables, abordables et respectueuses de l'environnement.
              Nous croyons que l'énergie est un droit fondamental pour tous et nous travaillons sans relâche pour rendre cette vision une réalité au Cameroun.
              Rejoignez-nous dans cette mission et ensemble, faisons la différence pour un avenir plus lumineux et équitable pour tous.<br>
              Nos activités incluent la distribution de kits solaires et de solutions d'énergie fiable dans les centres de santé, les orphelinats et les écoles.
              Nous proposons également des formations pour stimuler l'entrepreneuriat solaire et autonomiser les jeunes, ainsi que des encouragements pour les réseaux de femmes à s'impliquer dans le concept de "solar djangui" pour bénéficier de formations gratuites, participer à la distribution au dernier kilomètre et accroître leurs revenus.<br>
              Nous vulgarisons les informations sur les solutions d'énergie fiable et abordable pour permettre aux populations d'adopter les meilleures solutions économiques et efficaces en termes de qualité, de développement des activités et de réduction des factures.<br>
              Nous promouvons égalemjent le marketing social des solutions d'énergie verte et encourageons le changement des comportements pour des choix d'équipements moins polluants. 
              Nous facilitons l'acquisition de packs complets prêts à l'installation de mini-réseaux solaires de différentes puissances, de réfrigérateurs, ventilateurs, télévisions solaires, et nous assurons la distribution des systèmes énergétiques jusqu'au dernier kilomètre, offrant des solutions clés en main pour permettre à tous d'avoir accès à une énergie fiable, propre et abordable.<br>
              Nous sommes fiers de ce que nous accomplissons avec Équitable Energie et nous espérons pouvoir compter sur votre soutien pour mener à bien notre mission. Merci de votre attention.<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

 {% endblock %} 