{% extends 'base.html.twig' %}

{% block body %}
        <div class="conatiner">
            <div class="align-items-center col-md-14 mt-4 mr-5 mb-4 ml-5">
                En matière d'Énergie équitable, nous sommes la connexion entre les donateurs et les couches vulnérables.<br>
                Vous êtes un bailleurs de fonds, une agence de coopération pour le développement, une ambassade, une entreprise citoyenne, 
                une association de la diaspora, une fondation, une mutuelle d’entreprise ou une association caritative? Passez par nous pour
                éclairer un centre de santé, un orphelinat, une association de femmes, une école ou tout autres groupes vulnérables de votre choix?<br>

            </div>
        </div>
{% endblock %}