{% extends 'base.html.twig' %}

        {% block body %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <!-- Vendor CSS Files -->
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="{{asset('assets/css/main.css')}}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{asset('assets/js/main.js')}}"></script>
                <div class="banner">
                        <h1>SolarDjangui</h1>
                        <div class="container">
                        <p class="justify-text">Solardjangui est une initiative camerounaise pour aider les communautés locales à accéder à l'énergie en surmontant les obstacles liés à la distance et à la disponibilité. En collaborant avec des associations de femmes, des jeunes entrepreneurs et des techniciens, Solardjangui propose des solutions énergétiques adaptées aux besoins spécifiques de chaque communauté. En rejoignant Solardjangui, ces associations ont l'opportunité d'augmenter leurs revenus en redistribuant des kits solaires et en assurant la maintenance des installations grâce aux formations reçues dans le cadre de l'initiative. Avec Solardjangui, les communautés locales peuvent enfin bénéficier de l'énergie dont elles ont besoin pour améliorer leur qualité de vie et développer leur activité économique, tout en contribuant à un impact environnemental positif. </p>
                        </div>
                </div>
                <section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row g-2 d-flex">
            <li class="nav-item col-3">
                <a class="nav-link" href="#tab-1">
                    <h4>A Propos</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" href="#tab-2">
                    <h4>Comment ça marche</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" href="#tab-3">
                    <h4>Explica</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" href="#tab-4">
                    <h4>Nos Contacts</h4>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane  {% if app.request.attributes.get('_route') == 'solardjangui#tab1' %}active{% endif %} show" id="tab-1">
                <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                                        data-aos="fade-up" data-aos-delay="100">
                                        <h3>Qu’est ce que Solar-Djangui?</h3>
                                        <p class="fst-italic justify-text">
                                        Solar-Djangui est une initiative qui rassemble, par le biais de l'affiliation, des associations de femmes, de jeunes et de techniciens engagés dans le commerce et l'entrepreneuriat. Son objectif est de faciliter l'accès à l'énergie pour les centres de santé, l'éducation et les activités économiques en zone rurale au Cameroun. Les membres affiliés à Solar-Djangui distribuent des solutions solaires fiables et abordables à leur communauté, tout en améliorant leurs revenus et leurs connaissances du Solaire.
                                        </p>
                                </div>
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                                        data-aos="fade-up" data-aos-delay="100">
                                        <h3>Historique de l’initiative Solar-Djangui</h3>
                                        <p class="fst-italic justify-text">
                                        Le projet Solar-Djangui a été créé Une enquête menée par le CECOSDA en 2020, en partenariat avec le cabinet KIMSO et la Fondation Schneider Electric, a révélé cette demande importante en énergie. Ainsi, lancé par le CECOSDA en 2022 pour répondre à un besoin urgent en énergie fiable et abordable pour les communautés rurales; et pour promouvoir l'utilisation de l'énergie solaire dans les communautés rurales du Cameroun afin d’améliorer la qualité de vie, augmenter les revenus des femmes et des jeunes engagés dans la promotion du solaire, et réduire les émissions de gaz à effet de serre en remplaçant les  solutions polluantes telles que les lampes à pétrole, les groupes électrogènes par les systèmes solaires. 
                                        Inspiré du concept camerounais de “Djangui”, qui est une forme d’association financière informelle de développement,  Solar-Djangui a été lancé par le CECOSDA en 2022.
                                        </p>
                                </div>
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                                        data-aos="fade-up" data-aos-delay="100">
                                        <h3>Objectifs Spécifiques</h3>
                                        <p class="fst-italic justify-text">
                                        SolarDjangui a quatre objectifs spécifiques:
                                        </p>
                                        <ul>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b>1. Éclairer au moins 45000 mètre carrés d'activités</b> scolaires, commerciales, domestiques  avec des lampes solaires de qualité, une pouvant éclairer au moins mètre carré chacune , soit 5000 lampes fournies aux populations n'ayant pas accès à l'énergie. Voir les lampes disponibles;</li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b>2. Aider au moins 1000 activités commerciales ou sociales à remplacer les groupes électrogènes par des mini-systèmes solaires de même capacité et avec plus  d'avantages</b> pour les épiceries, les salons de coiffure, les ateliers de couture, les bureaux des prestataires de services, les centres de formation, les écoles, les centres de santés et autres infrastructures sociales;</li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b>3.</b> Amener au moins 500 centre de santé par an à adopter un mini système solaire afin d'améliorer les soins de santé et l'équipement des hôpitaux dans les zones rurales,</li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b>4. Offrir des opportunités économiques et de formation dans le solaire et le marketing digital à au moins 100 jeunes et 100 femmes par an pour booster l'entrepreneuriat solaire au Cameroun</b></li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b>5.</b> Collecter les données pertinentes sur les bénéficiaires des solutions solaires fournies par les membres de SolarDjangui- "les SolarDjanguiste" pour contribuer aux données sur les énergies durables et l'accès à l'énergie au Cameroun.</li>
                                        </ul>
                                </div>
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                                        data-aos="fade-up" data-aos-delay="100">
                                        <h3>Cibles</h3>
                                        <p class="fst-italic justify-text">
                                        Solar-Djangui est une initiative qui rassemble, par le biais de l'affiliation, des associations de femmes, de jeunes et de techniciens engagés dans le commerce et l'entrepreneuriat. Son objectif est de faciliter l'accès à l'énergie pour les centres de santé, l'éducation et les activités économiques en zone rurale au Cameroun. Les membres affiliés à Solar-Djangui distribuent des solutions solaires fiables et abordables à leur communauté, tout en améliorant leurs revenus et leurs connaissances du Solaire.
                                        </p>
                                </div>
                                </div>
                                </div><!-- End tab content item -->
            <div class="tab-pane {% if app.request.attributes.get('_route') == 'solardjangui#tab2' %}active{% endif %}" id="tab-2">
                <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                                        <h3>Critère d'éligibilité </h3>
                                        <p class="fst-italic justify-text">
                                        Pour rejoindre DjanguiSolaire, votre association doit répondre à l'un des critères suivants : être une association de femmes dont les membres sont actives dans le petit commerce, l'entrepreneuriat ou l'auto-emploi; être une association de jeunes entrepreneurs ou de jeunes techniciens intéressée par la promotion du solaire de qualité ; être un centre de santé ou une infrastructure sociale. 
                                        </p>
                                        <ul>
                                        <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                        <li><i class="bi bi-check2-all"></i> Provident mollitia neque rerum asperiores dolores quos qui a.
                                        Ipsum neque dolor voluptate nisi sed.</li>
                                        <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                        aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                                        pariatur.</li>
                                        </ul>
                                </div>
                                <!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
                                        <img src="assets/img/features-2.jpg" alt="" class="img-fluid">
                                </div>-->
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                                        <h3>Conditions d’inscription d’association - avantage pour une association de s'inscrire?</h3>
                                        <p class="fst-italic justify-text">
                                        SolarDjangui a également un rôle de promotion du développement local et vise à contribuer à accroître le fonds de roulement des associations affiliées. Lorsque votre association est affiliée, 2% des ristournes de vos membres vous sont reversées pour les activités internes de votre association. 
                                        </p>
                                </div>
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                                        <h3>Conditions d’inscription individuelle des membres d’associations - avantages pour les membres de votre association doivent s’inscrire?</h3>
                                        <p class="fst-italic justify-text">
                                        Les membres d’une association peuvent s’affilier par inscription individuelle directement auprès de l'équipe de SolarDjangui ou en ligne ou par Whatsapp mais sous couvert l'association membre qui confirme leur statut de membre au préalable. En tant que membres affiliés individuellement a SolarDjangui via votre association, vous bénéficiez de nombreux avantages. Vous avez la possibilité de redistribuer les produits solaires dans votre communauté et obtenir jusqu'à 10% de bénéfice direct sur chaque vente; en plus vous obtenez des ristournes mensuelles chaque mois à hauteur de 5% sur votre activité. Plus intéressant encore, vous bénéficiez d’un taux préférentiel sur les formations organisées sur le solaire, la maintenance des équipements solaires, le marketing digital, la vente en ligne et sur Whatsapp entre autres. Pour confirmer votre affiliation vous devez verser 10 000XAF correspondant aux frais pour votre première formation sur le solaire et la vente. 
                                        </p>
                                </div>
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                                        <h3>Procédure de souscription : </h3>
                                        <ul>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b><i>1. Inscription de votre association :</i></b> Le président de votre association doit s'inscrire en fournissant les informations requises, notamment le nom de l'association, les coordonnées du président, le nombre de membres (minimum 10) engagés à augmenter leurs revenus par la promotion du solaire.</li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b><i>2. Sélection des produits Schneider :</i></b> Vous devez sélectionner les produits Schneider que vous souhaitez redistribuer dans les villages.</li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b><i>3. Indication des zones de distribution :</i></b> Vous devez indiquer les zones dans lesquelles vous souhaitez distribuer les produits solaires.</li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b><i>4. Priorités en matière de formations :</i></b> Vous devez préciser vos priorités en matière de formations, telles que la vente en ligne, l'installation solaire, la transition écologique, etc. </li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b><i>5. Paiement des frais d'adhésion :</i></b> Vous devez payer des frais d'adhésion de 10 000 XAF pour l'enregistrement de votre association. Chaque membre devra ensuite payer 10 000 XAF pour les formations.</li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> <b><i>6. Rendez-vous avec notre équipe :</i></b> Une fois les frais d'adhésion payés, notre équipe prendra rendez-vous avec votre association pour expliquer le processus d'approvisionnement en produits, le point de retrait des produits et la comptabilisation de vos ristournes. Nous fixerons également les dates des formations pour votre association.</li>
                                        <li class="justify-text"><i class="bi bi-check2-all"></i> N'hésitez pas à contacter notre équipe par téléphone ou par email pour obtenir plus d'informations sur la procédure de souscription et pour toute autre question. Nous serons ravis de vous accompagner dans votre démarche pour promouvoir l'énergie solaire de qualité et augmenter vos revenus.</li>
                                        </ul>
                                </div>
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                                        <h3>Critère d'éligibilité </h3>
                                        <p class="fst-italic justify-text">
                                        Pour rejoindre DjanguiSolaire, votre association doit répondre à l'un des critères suivants : être une association de femmes dont les membres sont actives dans le petit commerce, l'entrepreneuriat ou l'auto-emploi; être une association de jeunes entrepreneurs ou de jeunes techniciens intéressée par la promotion du solaire de qualité ; être un centre de santé ou une infrastructure sociale. 
                                        </p>
                                        <ul>
                                        <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                        <li><i class="bi bi-check2-all"></i> Provident mollitia neque rerum asperiores dolores quos qui a.
                                        Ipsum neque dolor voluptate nisi sed.</li>
                                        <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                        aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                                        pariatur.</li>
                                        </ul>
                                </div>
                            </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <!-- Contenu de l'onglet Explica -->
            </div>
            <div class="tab-pane" id="tab-4">
                <!-- Contenu de l'onglet Nos Contacts -->
            </div>
        </div>

    </div>
</section>

        {% endblock %}
